[submodule "libiconv"]
	path = libiconv
	url = https://github.com/winlibs/libiconv
[submodule "libxml2"]
	path = libxml2
	url = https://github.com/winlibs/libxml2
[submodule "libxslt"]
	path = libxslt
	url = https://github.com/winlibs/libxslt
[submodule "zlib"]
	path = zlib
	url = https://github.com/winlibs/zlib.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/winlibs/openssl
[submodule "xmlsec"]
	path = xmlsec
	url = https://github.com/lsh123/xmlsec
